<page-header
  [title]="projectName"
  [content]="content"
  [tab]="tab"
>
<!--    <ng-template #breadcrumb>面包屑</ng-template>-->
  <!--  <ng-template #logo><div class="logo">logo</div></ng-template>-->
  <!--  <ng-template #action><div class="action">action</div></ng-template>-->
  <ng-template #content>
    <div class="desc">
      <sf  #sf mode="edit" [schema]="schema" [compact]="true" [ui]="ui" [formData]="viewUser" button="none">
        <div class="modal-footer">
          <button nz-button type="button" (click)="goback()">返回</button>
          <button nz-button type="submit" nzType="primary" (click)="save(sf.value)" >保存</button>
        </div>
      </sf>
    </div>
  </ng-template>
  <!--  <ng-template #extra><div class="extra">extra</div></ng-template>-->
  <ng-template #tab>
    <nz-tabset [nzSize]="'large'">
      <div *ngFor="let item of procedureCate">
        <nz-tab [nzTitle]="item.cateName">
          <app-projectdetails-propage [projectId]="projectId" [cateId]="item.cateId"></app-projectdetails-propage>
        </nz-tab>
      </div>
    </nz-tabset>
  </ng-template>
</page-header>
<style>
  :host ::ng-deep .logo {
    background: #3ba0e9;
    color: #fff;
    height: 100%;
  }

  :host ::ng-deep h1.title {
    background: rgba(16, 142, 233, 1);
    color: #fff;
  }


</style>
