<page-header
  [title]="'title'"
  [tab]="tab"
>
<!--  <ng-template #breadcrumb>面包屑</ng-template>-->
<!--  <ng-template #logo><div class="logo">logo</div></ng-template>-->
<!--  <ng-template #action><div class="action">action</div></ng-template>-->
<!--  <ng-template #content><div class="desc">content</div></ng-template>-->
<!--  <ng-template #extra><div class="extra">extra</div></ng-template>-->
  <ng-template #tab>
    <nz-tabset [nzSize]="'default'">
      <nz-tab nzTitle=" M0 ">
        <app-projectdetails-propage></app-projectdetails-propage>
      </nz-tab>
      <nz-tab nzTitle="T0"></nz-tab>
      <nz-tab nzTitle="T1"></nz-tab>
    </nz-tabset>
  </ng-template>
</page-header>
<style>
  :host ::ng-deep .logo {
    background: #3ba0e9;
    color: #fff;
    height: 100%;
  }
  :host ::ng-deep h1.title {
    background: rgba(16, 142, 233, 1);
    color: #fff;
  }
  :host ::ng-deep .action,
  :host ::ng-deep .desc,
  :host ::ng-deep .extra {
    background: #7dbcea;
    color: #fff;
  }
</style>
