<page-header
  [title]="projectName"
  [content]="content"
  [tab]="tab"
>
  <ng-template #content>
    <div class="desc">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="ant-advanced-search-form">
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label [nzFor]="'projectName'">PROJECT_NAME</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  placeholder="placeholder"
                  [formControlName]="'projectName'"
                  [(ngModel)]="projectInfos.projectName"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label [nzFor]="'pmo'">PMO</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  placeholder="placeholder"
                  [formControlName]="'pmo'"
                  [(ngModel)]="projectInfos.pmo"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label [nzFor]="'sponsor'">SPONSOR</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  placeholder="placeholder"
                  [formControlName]="'sponsor'"
                  [(ngModel)]="projectInfos.sponsor"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label [nzFor]="'technology'">TECHNOLOGY</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  placeholder="placeholder"
                  [formControlName]="'technology'"
                  [(ngModel)]="projectInfos.technology"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label [nzFor]="'customer'">CUSTOMER</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  placeholder="placeholder"
                  [formControlName]="'customer'"
                  [(ngModel)]="projectInfos.customer"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label [nzFor]="'application'">APPLICATION</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  placeholder="placeholder"
                  [formControlName]="'application'"
                  [(ngModel)]="projectInfos.application"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label [nzFor]="'keyWords'">KEY_WORDS</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  placeholder="placeholder"
                  [formControlName]="'keyWords'"
                  [(ngModel)]="projectInfos.keywords"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label [nzFor]="'application'">FILE_PATH</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  placeholder="placeholder"
                  [formControlName]="'filePath'"
                  [(ngModel)]="projectInfos.filePath"
                />
                <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
                  <button type="button" nz-button>
                    <i nz-icon nzType="upload"></i>
                    Select File
                  </button>
                </nz-upload>
                <button
                  type="button"
                  nz-button
                  [nzType]="'primary'"
                  [nzLoading]="uploading"
                  (click)="handleUpload()"
                  [disabled]="fileList.length === 0"
                  style="margin-top: 16px"
                >
                  {{ uploading ? 'Uploading' : 'Start Upload' }}
                </button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button [nzType]="'primary'">确认</button>
            <button nz-button (click)="goback()">返回</button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  <ng-template #tab>
    <nz-tabset [nzSize]="'large'">
      <div *ngFor="let item of procedureCate">
        <nz-tab [nzTitle]="item.cateName">
          <app-projectdetails-propage [projectId]="projectId" [cateId]="item.cateId"></app-projectdetails-propage>
        </nz-tab>
      </div>
    </nz-tabset>
  </ng-template>
</page-header>
<style>
  :host ::ng-deep .logo {
    background: #3ba0e9;
    color: #fff;
    height: 100%;
  }

  :host ::ng-deep h1.title {
    background: rgba(16, 142, 233, 1);
    color: #fff;
  }


</style>
