

<div *ngFor="let item of cates">
  <div nz-row>
    <div nz-col nzSpan="24">
      <h1>{{item.cateName}}</h1>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <div *ngIf="item.tableInfo=='material_info'">
        <app-material-propage [cateId]="item.cateId" [projectId]="projectId" ></app-material-propage>
      </div>
      <div *ngIf="item.tableInfo=='file_info'">
        <app-file-propage [cateId]="item.cateId" [projectId]="projectId"></app-file-propage>
      </div>
    </div>
  </div>
  <nz-divider nzDashed></nz-divider>
</div>


