<page-header [title]="'编辑materialInfo'"> materialInfo </page-header>
<nz-card [nzBordered]="false" *ngIf="materialInfo" >
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="1" labelWidth="200" style="width: 1000px">
    <se label="CATEGORY" error="请输入CATEGORY" required>
      <input nz-input formControlName="category" [(ngModel)]="materialInfo.category" placeholder="CATEGORY" />
    </se>
    <se label="MATERIAL">
      <input nz-input  formControlName="material" [(ngModel)]="materialInfo.material" placeholder="请输入MATERIAL" />
      <!--<nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
        <button type="button" nz-button>
          <i nz-icon nzType="upload"></i>
          Select File
        </button>
      </nz-upload>
      <button
        type="button"
        nz-button
        [nzType]="'primary'"
        [nzLoading]="uploading"
        (click)="handleUpload()"
        [disabled]="fileList.length === 0"
        style="margin-top: 16px"
      >
        {{ uploading ? 'Uploading' : 'Start Upload' }}
      </button>-->

    </se>

    <se>
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="submitting">提交</button>
      <button nz-button class="ml-sm" type="button" (click)="goback()">返回</button>
    </se>
  </form>
</nz-card>
