<page-header [title]="'编辑cates'"> cates。</page-header>
<nz-card [nzBordered]="false" *ngIf="cates">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="1" labelWidth="200" style="width: 1000px">
    <se label="parentId" error="请输入parentId" required>
      <!--      <input nz-input formControlName="parentId" [(ngModel)]="cates.parentId" placeholder="parentId" />-->
      <nz-select formControlName="parentId" [(ngModel)]="cates.parentId">
        <nz-option *ngFor="let item of secCates" [nzValue]="item.cateId" [nzLabel]="item.cateName"></nz-option>
      </nz-select>
    </se>
    <se label="cateName" error="请输入cateName" required>
      <input nz-input formControlName="cateName" [(ngModel)]="cates.cateName" placeholder="cateName"/>
    </se>
    <se label="table" error="请输入tableInfo" required>
      <input nz-input formControlName="tableInfo" [(ngModel)]="cates.tableInfo" placeholder="tableInfo"/>
    </se>
    <se>
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="submitting">提交</button>
      <button nz-button class="ml-sm" type="button" (click)="goback()">返回</button>
    </se>
  </form>
</nz-card>
