<div class="modal-header">
  <div class="modal-title">查看 {{ record.id }} 信息</div>
</div>
<nz-spin *ngIf="!viewUser" class="modal-spin"></nz-spin>
<div sv-container *ngIf="viewUser">
  <sv label="PROJECT_NAME">{{ viewUser.proId }}</sv>
  <sv label="PMO">{{viewUser.pmo}}</sv>
  <sv label="SPONSOR">{{viewUser.sponsor}}</sv>
  <sv label="TECHNOLOGY">{{viewUser.technology}}</sv>
  <sv label="CUSTOMER">{{viewUser.customer}}</sv>
  <sv label="APPLICATION">{{viewUser.application}}</sv>
  <sv label="KEY_WORDS">{{viewUser.keyWords}}</sv>
  <sv label="FILE_PATH">{{viewUser.filePath}}</sv>
  <sv label="M0_STATUS">{{viewUser.m0Status}}</sv>
  <sv label="T0_STATUS">{{viewUser.m0Status}}</sv>
  <sv label="T1_STATUS">{{viewUser.m0Status}}</sv>
  <sv label="T2_STATUS">{{viewUser.m0Status}}</sv>
  <sv label="CREATE_TIME">{{viewUser.createTime}}</sv>
  <sv label="UPDATE_TIME">{{viewUser.updateTime}}</sv>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
