<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
<!--    <button (click)="add()" nz-button nzType="primary">新建</button>-->
    <a [routerLink]="['/cates/edit']" [queryParams]="{aid:''}" nz-button nzType="primary">新建</a>
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf>
  <st #st [data]="url" [req]="reqInfo" [res]="resInfo" [page]="pageInfo"  [columns]="columns"></st>
</nz-card>
